<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBC - The Best Clicker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>The best clicker you'll never ever play</h1>
    <p> Hi {{pseudo}}, you can click the marvellous button to make your score rising </p>
    <p>Score : {{score}}</p>
    <div style="text-align: center;"> 
        <form action="" method="POST">
            <button type="submit" value="click" class="click">Click me</button>
        </form>
    </div>

</body>
</html>